{% extends "base.twig" %}

{% block content %}
	<main class="m-honey-ideas" role="main">
		<section class="bg-orange-100 pb-12">
			{% if banner %}
				<div class="page-banner" style="background-image: url('{{ banner.background }}')">
					<h1 class="text-white text-center">{{ banner.title ?: title }}</h1>
				</div>
			{% endif %}

			<div class="container pt-12">
				{% if posts %}
					<div class="article__wrapper">
						<div class="flex flex-wrap">
							{% for post in posts %}
								<article class="article w-full tablet:w-1/3 mb-6">
									<div class="article__item">
										<a href="{{ post.link }}">
											<div class="article__img">
												<img class="w-full max-w-full" src="{{ Image(post.thumbnail).src }}" alt="{{ post.title }}"/>
											</div>
										</a>
										<div class="article__desc">
											<h1 class="text-2xl">
												{{ post.title }}
											</h1>

											<div class="hidden md:block">
												<p>{{ post.preview.length(25).read_more('') }}</p>
											</div>

											<a href="{{ post.link }}" class="m-btn m-btn-primary mt-auto">
												Lihat Resep
												<i class="fas fa-chevron-right ml-1"></i>
											</a>
										</div>
									</div>
								</article>
							{% endfor %}
						</div>

						{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
					</div>
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}
