{% extends "base.twig" %}

{% block content %}
	<article class="m-article m-article-{{ post.post_type }}" id="article-{{ post.ID }}">
		<section class="bg-orange-100 min-h-50vh py-12 flex items-center">
			<div class="container my-auto text-center">
				<h1 class="text-4xl md:mb-8">
					{{ post.title }}
				</h1>

				<div class="mt-2">
					{{post.content}}
				</div>

				<a href="/honey-faq" class="no-underline text-orange mt-10 block">
					<i class="fa fa-chevron-left"></i>
					Kembali
				</a>
			</div>
		</section>
	</article>
{% endblock %}
