{% extends "base.twig" %}

{% block content %}
	<article class="m-product m-product-{{ post.post_type }}" role="main">
		<section class="bg-orange-100">
			<div class="container py-8 md:py-24">
				<div class="flex flex-wrap flex-row relative min-h-500">
					<div class="product-img--desktop hidden md:block">
						<img class="mx-w-full w-full max-h-img-block object-contain md:py-6" src="{{ Image(post.thumbnail).src }}" alt="{{ post.title }}"/>
					</div>
					<div class="bg-white mx-auto w-full md:w-4/5 py-8 md:py-12 flex flex-wrap relative">
						<div class="product-content">
							<h1 class="text-4xl leading-tight font-semibold mb-6">
								{{ post.title }}
							</h1>
							<div class="px-16 my-auto md:hidden">
								<img class="mx-w-full w-full object-contain md:py-6" src="{{ Image(post.thumbnail).src }}" alt="{{ post.title }}"/>
							</div>

							{{ post.content }}

							<h3 class="text-2xl leading-tight font-semibold mt-6">
								Manfaat
							</h3>

							{{ post.meta('benefits') }}

							<h3 class="text-lg leading-tight font-semibold mt-8 mb-3">
								Tersedia Dalam Botol
							</h3>

							{% if post.meta('available_packages') %}
								<div class="flex">
									{% for package in post.meta('available_packages') %}
										<div class="bg-orange-200 text-orange px-4 py-2 mr-4">
											{{ package.variant }}
										</div>
									{% endfor %}
								</div>
							{% endif %}

							<h3 class="text-lg leading-tight font-semibold mt-8 mb-3">
								Dapatkan di
							</h3>

							{% if post.meta('ecommerces') %}
								<div class="flex flex-wrap">
									{% for e in post.meta('ecommerces') %}
										<a class="mr-10 mt-2" href="{{ e.market_link ?: '#' }}">
											<img height="70" class="max-w-full w-auto object-contain" src="{{ Image(e.market_image_logo).src }}"/>
										</a>
									{% endfor %}
								</div>
							{% endif %}
						</div>
						<img class="w-12 md:w-32 z-10 left-auto right-honeycomb-mobile md:right-honeycomb top-auto bottom-honeycomb-mobile md:bottom-honeycomb absolute" src="{{ theme.link }}/static/images/honeycomb.png" alt="Honey"/>
					</div>
				</div>
			</div>

			{% if reviews %}
				<div class="container">
					<div class="m-reviews">
						<h2 class="mb-2">
							{{ cur_lang == 'id' ? 'Ulasan' : 'Reviews' }}
						</h2>

						<div class="flex flex-wrap pb-4">
							<div class="rating w-full md:w-auto">
								<h1>
									<span>4.9</span>
									<small>/5</small>
								</h1>
								{% for s in range(1, 5) %}
									<i class="{{ s <= a ? 'far' : 'fas' }} fa-sm fa-star text-yellow-500 mr-1"></i>
								{% endfor %}
								<p class="text-gray-600 mb-0">1 Ulasan</p>
							</div>

							<div class="flex flex-col w-full md:w-auto">
								{% for a in range(5, 1) %}
									<span class="stars">
										{% for s in range(1, 5) %}
											<i class="{{ s <= a ? 'fas' : 'far' }} fa-sm fa-star text-yellow-500 mr-1"></i>
										{% endfor %}
										{% set count = reviews|count_rating_stars(a) %}
										({{count}})
										<span class="bar">
											<div class="bg-orange h-full" style="width: {{ (100 / (reviews|length)) * count }}%"></div>
										</span>
									</span>
								{% endfor %}
							</div>
						</div>

						<div class="flex flex-wrap">
							{% for item in reviews %}
								<div class="m-reviews__item">
									<div class="avatar">
										<img class="max-w-full w-full" src="{{ item._avatar }}"/>
									</div>
									<div class="relative w-full">
										<h4>{{ item._name ?: item.title ?: 'Anonym' }}</h4>

										<span class="stars mb-3">
											{% for s in range(1, 5) %}
												<i class="{{ s <= item._stars_rating ? 'fas' : 'far' }} fa-sm fa-star text-yellow-500 mr-1"></i>
											{% endfor %}
										</span>

										<div class="review">
											{{ item._review|apply_filters( 'the_content' ) }}
										</div>

										<span class="absolute top-0 right-0"> 
											{{ item.post_date|time_diff }}
										</span>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
		</section>
	</article>
{% endblock %}
