.article {
  padding: {
    left: theme("margin.4");
    right: theme("margin.4");
  }

  &__item {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid 1px #eaeaea;
  }

  &__desc {
    padding: 1.4rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .m-btn,
    .article__link {
      justify-self: flex-end;
    }
  }

  &__img {
    img {
      max-width: 100%;
      max-height: 235px;
      min-height: 235px;
      object-fit: cover;
      width: theme("width.full");

      @media screen and (max-width: 640px) {
        max-height: 185px;
        min-height: 185px;
      }
    }
  }

  &__link {
    width: max-content;
    align-self: flex-end;
    color: inherit;
    text-decoration: unset;
    transition: all ease-in-out 200ms;

    &:hover,
    &:focus,
    &:active {
      color: theme("colors.orange.default");
    }
  }

  &__wrapper {
    margin: {
      left: theme("margin.-4");
      right: theme("margin.-4");
      bottom: theme("margin.6");
    }

    @media screen and (max-width: 640px) {
      max-width: 100vw;
      margin: {
        left: -2rem;
        right: -2rem;
      }
      overflow: hidden {
        x: scroll;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      & > div {
        padding-left: 2rem;
      }
    }
  }
}
