%outlined {
  background-color: transparent;
  color: theme("colors.orange.default");
}

.m-btn {
  display: block;
  width: max-content;
  text-decoration: none;
  transition: all 100ms ease-in-out;

  &:hover,
  &:focus,
  &:active {
    outline: none !important;
  }

  &:disabled {
    color: theme("colors.gray.300") !important;
    border-color: currentColor !important;
  }

  &:not(.m-btn-text):not(.m-btn-pagination) {
    padding: 28px {
      top: 8px;
      bottom: 8px;
    }

    @media screen and (max-width: 1024px) {
      padding: 16px {
        top: 6px;
        bottom: 6px;
      }
    }
  }

  &-primary {
    border: solid 1px theme("colors.orange.default");

    &:not(.m-btn-outlined) {
      color: theme("colors.white");
      background-color: theme("colors.orange.default");

      &:not(span) {
        &:focus,
        &:hover,
        &:active {
          @extend %outlined;
        }
      }
    }
  }

  &-text {
    background-color: transparent !important;
    border-width: 0 !important;
    color: theme("colors.orange.default") !important;
  }

  &-outlined {
    @extend %outlined;

    &:focus,
    &:hover,
    &:active {
      color: theme("colors.white");
      background-color: theme("colors.orange.default");
    }
  }

  &-pagination {
    min-width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }
}
