.m-footer {
  background: #f6f2ec;
  padding-top: 2rem;

  a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  hr {
    color: currentColor;
    border-color: currentColor;
    background-color: currentColor;
  }

  .fa-lg {
    line-height: 1;
  }

  &__bottom {
    color: #968c7d;
    background: white;
    border-top: solid 3px;
    border-color: theme("colors.orange.default");
  }

  &__top {
    background: white;
    padding: {
      top: 2.25rem;
      bottom: 2.25rem;
    }
  }

  &__certs {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 640px) {
      flex-direction: column;
    }

    &-explanation {
      width: theme("width.5/12");
      padding-left: theme("padding.5");
      padding-right: theme("padding.6");

      @media screen and (max-width: 640px) {
        width: theme("width.full");
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        margin-bottom: theme("margin.3");
      }
    }

    &-logos {
      display: grid;
      grid-template-columns: theme("gridTemplateColumns.4");
      grid-gap: 1rem;
      gap: 1rem;
      padding-left: theme("padding.5");
      margin-left: auto;
      width: theme("width.5/12");

      @media screen and (max-width: 640px) {
        width: theme("width.full");
        padding-left: 0;
        padding-right: 0;
        text-align: center;
      }
    }
  }

  &__cert {
    display: flex;
    align-items: center;
    justify-content: center;
    @include hover-img-grayscale;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    padding: {
      top: 1.8rem;
      right: 1rem;
      bottom: 1.2rem;
      left: 1rem;
    }

    @media screen and (max-width: 640px) {
      flex-direction: column;
    }
  }

  &__contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    @media screen and (max-width: 640px) {
      flex-direction: column;
    }

    .fa,
    .fas,
    .fab {
      color: black;
    }

    > * {
      margin-right: 2rem;
      @media screen and (max-width: 640px) {
        margin-right: 0;
      }

      &:not(.m-brand) {
        .widget-content {
          display: flex;
          align-items: center;
          align-self: flex-end;

          @media screen and (max-width: 640px) {
            margin-top: 1.2rem;
            flex-direction: column;
            a {
              margin-bottom: 1rem;
            }
            .mr-4 {
              margin-right: unset !important;
            }
          }
        }
      }
    }
  }

  &__socmed {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
    padding-left: 0;

    &__item,
    li {
      display: flex;
      margin-left: 0.6rem;
      &:not(:last-child) {
        margin-right: 0.6rem;
      }
      .fa,
      .fas,
      .fab {
        line-height: 1;
        font-size: 1.33333em;
        line-height: 0.75em;
        vertical-align: -0.0667em;
      }
    }
  }

  &__copyright {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: flex-end;
    font-size: 14px;
    @media screen and (max-width: 640px) {
      justify-content: center;
    }
  }

  &__marketplaces {
    background: transparent;

    &__wrapper {
      background: white;
      text-align: center;
      width: 100%;
      margin: auto;
      padding: 2.4rem {
        left: 1.2rem;
        right: 1.2rem;
      }
      box-shadow: 0px -9px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

      @media screen and (max-width: 640px) {
        padding: 1.4rem {
          left: 1rem;
          right: 1rem;
        }
      }

      .title {
        font-weight: 600;
        font-size: 20px;
      }

      .markets {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-left: 0;
        padding-left: 0;

        .item,
        .widget_marketplace {
          margin: {
            left: 2rem;
            right: 2rem;
          }

          .widget-content {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            @include hover-img-grayscale;

            img {
              width: 65px !important;
              height: 65px !important;
              object-fit: contain;
              margin-bottom: 0.65rem;
            }

            label,
            .widget-title {
              font-size: 16px;
              font-weight: normal;
              color: #5c564e;
            }
          }
        }

        @media screen and (max-width: 1024px) {
          .item,
          .widget_marketplace {
            width: 50%;
          }
        }

        @media screen and (max-width: 640px) {
          flex-wrap: wrap;
          margin-top: 10px;

          .item,
          .widget_marketplace {
            width: 33.3% !important;
            margin: unset;

            .widget-content {
              img {
                width: 45px !important;
                height: 45px !important;
              }
            }
          }
        }
      }
    }
  }
}
