.m-form-group {
  margin-top: 2px;
  margin-bottom: 1rem;

  input,
  textarea {
    background: white;
    border: solid 1px #eaeaea;
    padding: 8px 10px;
    width: 100%;
    max-height: 120px;
    &:hover,
    &:focus {
      outline: none;
    }
  }
}
