.m-header {
  position: relative;
  z-index: 9999;

  a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }

  &__top {
    z-index: 2;
    position: relative;
    background-color: theme("colors.gray.400");

    .m-header__content {
      display: flex;
      justify-content: flex-end;
      padding: {
        top: theme("padding.1");
        bottom: theme("padding.1");
      }
    }

    ul,
    ol {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .item {
      display: flex;
      margin: {
        left: 0.5rem;
        right: 0.5rem;
      }
    }

    .lang-selector {
      min-width: 42px;
      color: inherit;
      appearance: menulist;
      background-color: transparent;

      &:hover,
      &:active,
      &:focus {
        border: theme("borderWidth.0");
        outline: none;
      }
    }
  }

  &__bottom {
    z-index: 1;
    position: relative;
    background-color: theme("colors.white");
    box-shadow: theme("boxShadow.md");

    .m-header__content {
      display: flex;
      justify-content: space-between;
      padding: {
        top: theme("padding.4");
        bottom: theme("padding.4");
      }

      @media screen and (max-width: 1024px) {
        &::before {
          content: "";
          background-color: white;
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          left: 0;
          top: 0;
        }

        > * {
          z-index: 2;
        }
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    background-color: white;

    @media screen and (max-width: 1024px) {
      border-top: solid 1px #eaeaea;
      align-items: flex-start;
      flex-direction: column;
      position: absolute;
      right: 0;
      left: 0;
      top: 100%;
      transition: transform ease-in-out 0.25s;
      transition-delay: 100ms;
      z-index: -1 !important;
      transform: translateY(-100%);
      &.active {
        transform: translateY(1%);

        .dropdown {
          position: relative !important;
          display: block !important;
          opacity: 1 !important;
          box-shadow: none !important;
          padding-top: 0 !important;
          padding-bottom: 0 !important;

          li {
            &:last-child {
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }

    @media screen and (max-width: 640px) {
      max-width: 100% !important;
      padding-right: 1rem !important;
      padding-left: 1rem !important;
    }
  }

  &__menus {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;

    .link {
      color: #5c564e;
      position: relative;
      transition: all ease-in-out 0.1s;
      margin: {
        left: 0.75rem;
        right: 0.75rem;
      }

      .dropdown {
        position: absolute;
        top: 100%;
        left: -0.75rem;
        padding: 10px {
          top: 15px;
        }
        margin: 0;
        list-style: none;
        flex-direction: column;
        min-width: 100%;
        width: max-content;
        display: none;
        opacity: 0;
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 150ms;
        transition-delay: 100ms;
        background-color: theme("colors.white");
        box-shadow: theme("boxShadow.md");

        .link {
          margin: {
            top: 0.55rem;
            bottom: 0.55rem;
          }
        }
      }

      &:hover {
        color: theme("colors.orange.default");

        .link__target {
          & + .dropdown {
            display: flex;
            opacity: 1;
          }
        }
      }

      &.active {
        // +active-menu-item
      }
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      width: 100%;
      padding: {
        top: 0.75rem;
        bottom: 0.75rem;
      }

      li {
        margin: {
          top: 0.5rem;
          bottom: 0.5rem;
        }
        > * {
          width: 100%;
        }
      }
    }
  }

  &__btn-search {
    font-size: 1.2em;
    margin: {
      left: 0.75rem;
    }
  }
}

.page-banner {
  height: 420px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: theme("screens.tablet")) {
    background-size: 100%;
  }
}
