.product {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: {
    left: theme("spacing.4");
    right: theme("spacing.4");
  }

  &__img {
    img {
      max-height: 350px;
      width: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &-img {
    &__wrapper {
      max-width: 175px;
    }

    &--desktop {
      pointer-events: none;
      z-index: 10;
      width: 100%;
      max-width: 380px;
      margin-bottom: auto;
      position: absolute;
      height: 100%;
      max-height: 100%;
      left: -5rem;
      bottom: 0;
      top: 0;
      right: 0;
    }
  }

  &-content {
    width: 100%;
    padding: {
      left: theme("padding.6");
      right: theme("padding.6");
    }

    @media (min-width: theme("screens.tablet")) {
      width: 85%;
      margin-left: auto;
      padding: {
        left: theme("padding.12");
        right: theme("padding.12");
      }
    }
  }

  &-desc {
    &__wrapper {
      padding: {
        top: 1rem;
        bottom: 1rem;
      }

      p {
        display: inline-block;
        margin-bottom: 0.5rem;
      }
    }
  }

  &-label {
    background-color: #5d564d;
    font-size: 12px;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    height: 24px;
    margin-bottom: 0.6rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: max-content;
    overflow: hidden;

    &::after {
      content: "";
      width: 0;
      height: 0;
      right: 0;
      position: absolute;

      border: {
        top: 11px solid transparent;
        bottom: 11px solid transparent;
        right: 10px solid #f6f2ed;
      }
    }
  }

  &__categories {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px theme("colors.gray.300");

    li {
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .icon {
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        height: 70px;
        width: 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out 200ms;
        background-color: transparent;
      }

      &.active {
        .icon {
          background-color: theme("colors.orange.default");

          img {
            filter: grayscale(1) contrast(5);
          }
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    flex-wrap: wrap;
    align-items: center;

    &__img {
      max-height: 300px;
    }

    &-img {
      &__wrapper {
        width: 30%;
        max-width: unset;
        margin-left: -1.5rem;
      }
    }

    &-desc {
      &__wrapper {
        width: 70%;
      }
    }
  }
}

.col-thumbnail {
  height: 460px;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7941c;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease-in-out;

  h2,
  span {
    color: #fff;
  }

  h2 {
    font-size: 42px;
    line-height: 49px;
  }

  span {
    font-size: 16px;
    line-height: 29px;
    font-weight: 600;
  }

  &:hover {
    background-size: auto 110%;
  }
}
