.m-reviews {
  border: solid 1px theme("colors.gray.300");
  border-left: none;
  border-right: none;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;

  &__item {
    border-top: solid 1px theme("colors.gray.300");
    padding-top: 0.85rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      overflow: hidden;
      background-color: theme("colors.orange.default");
      margin-right: 15px;

      img {
        object-fit: contain;
      }
    }

    .review {
      p {
        margin-bottom: 0.1rem;
        line-height: normal;
      }
    }

    .stars {
      justify-content: flex-start !important;
    }
  }

  .stars {
    display: flex;
    margin-top: 0.3rem;
    justify-content: center;
  }

  .bar {
    height: 8px;
    width: 100px;
    background-color: #d3d3d3;
    border-radius: 4px;
    align-self: center;
    margin-left: 6px;
    overflow: hidden;
  }

  .rating {
    padding: 0px 20px;
    text-align: center;

    h1 {
        line-height: 1;
        font-size: 60px;
        font-weight: 400;
        margin-bottom: 10px;

        small {
            font-size: 50%;
            margin-left: -7.5%;
        }
    }
  }
}
