.m-banner-slider {
  $descWidth: 37.5 !default;
  position: relative;

  .slick {
    &-prev,
    &-next {
      @extend .fas;
      background-color: #fff;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      z-index: 1;
      color: currentColor;
      box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.114565);

      &::before {
        color: currentColor;
        font-family: inherit;
      }
    }

    &-prev {
      left: 0;

      &::before {
        content: "\f053";
      }

      @media (min-width: theme("screens.mobile")) {
        left: calc((100% - 640px) / 2 - 60px);
      }

      @media (min-width: theme("screens.tablet")) {
        left: calc((100% - 768px) / 2 - 60px);
      }

      @media (min-width: theme("screens.laptop")) {
        left: calc((100% - 1024px) / 2 - 60px);
      }

      @media (min-width: theme("screens.desktop")) {
        left: calc((100% - 1280px) / 2 - 60px);
      }

      @media (max-width: 1280px) and (min-width: theme("screens.desktop")) {
        left: 0;
      }
    }

    &-next {
      right: 0;

      &::before {
        content: "\f054";
      }

      @media (min-width: theme("screens.mobile")) {
        right: calc((100% - 640px) / 2 - 60px);
      }

      @media (min-width: theme("screens.tablet")) {
        right: calc((100% - 768px) / 2 - 60px);
      }

      @media (min-width: theme("screens.laptop")) {
        right: calc((100% - 1024px) / 2 - 60px);
      }

      @media (min-width: theme("screens.desktop")) {
        right: calc((100% - 1280px) / 2 - 60px);
      }

      @media (max-width: 1280px) and (min-width: theme("screens.desktop")) {
        right: 0;
      }
    }
  }

  .m-banner-image {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: 40vh;

    &__wrapper {
      padding-left: 0;
      display: flex;
      flex-direction: column-reverse;
    }

    @media (min-width: theme("screens.laptop")) {
      height: 80vh;

      &__wrapper {
        padding-left: #{$descWidth + "vw"};
      }
    }
  }

  .m-banner-description {
    max-width: 100%;
    padding: theme("padding.3");

    &__wrapper {
      position: relative;
      backface-visibility: visible;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background-color: white;
    }

    @media (min-width: theme("screens.hddesktop")) {
      max-width: #{($descWidth / 1.3) + "%"};
    }

    @media (min-width: theme("screens.laptop")) {
      &__wrapper {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
      }
      
      max-width: #{($descWidth / 1.4) + "%"};
    }
  }

  .m-banner-dots {
    position: relative;
    margin-top: -80px;
    list-style: none;
    display: block;
    text-align: left;

    li {
      position: relative;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0 {
        left: 2px;
      }
      padding: 0;
      cursor: pointer;

      button {
        border: 0;
        background: transparent;
        display: block;
        height: 20px;
        width: 20px;
        outline: none;
        line-height: 0px;
        font-size: 0px;
        color: transparent;
        padding: 5px;
        cursor: pointer;

        &:hover,
        &:focus {
          outline: none;
          &:before {
            opacity: $slick-opacity-on-hover;
          }
        }

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: $slick-dot-character;
          width: 20px;
          height: 20px;
          font-family: $slick-font-family;
          font-size: 0.753rem;
          line-height: 20px;
          text-align: center;
          color: #e3e3e3;
          opacity: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }

      &.slick-active button:before {
        color: theme("colors.orange.default");
        opacity: $slick-opacity-default;
      }
    }
  }
}

.m-recipes-slider {
  background-color: white;
  padding-left: theme("padding.12");
  padding-right: theme("padding.12");
  padding-top: theme("padding.8");
  padding-bottom: theme("padding.8");
  $imgHeight: 265px;

  &__item {
    img {
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  .slick {
    &-prev,
    &-next {
      @extend .fas;
      width: theme("spacing.12");
      z-index: 1;
      top: calc(#{theme("spacing.8")} + #{$imgHeight / 2});
      color: currentColor;

      &::before {
        color: currentColor;
        font-family: inherit;
      }
    }

    &-prev {
      left: 0;

      &::before {
        content: "\f053";
      }
    }

    &-next {
      right: 0;

      &::before {
        content: "\f054";
      }
    }

    &-dots {
      left: 0;
      bottom: -20px;

      li {
        position: relative;
        display: inline-block;
        height: 4px;
        width: 24px;
        margin: 0 {
          left: 6px;
        }
        padding: 0;
        cursor: pointer;

        button {
          border: 0;
          background: transparent;
          display: block;
          height: 4px;
          width: 24px;
          outline: none;
          line-height: 0px;
          font-size: 0px;
          color: transparent;
          padding: 5px;
          cursor: pointer;

          &:before {
            position: absolute;
            content: "";
            width: 24px;
            height: 4px;
            background-color: #e3e3e3;
            opacity: 1;
          }
        }

        &.slick-active button:before {
          background-color: theme("colors.orange.default");
        }
      }
    }
  }
}
