.m-social-share {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .shared-counts-button {
      font-size: 14px !important;
      letter-spacing: 0.8px !important;
      font-weight: 500 !important;
      border-radius: 0 !important;
      padding: 0.8rem !important  {
        left: 1.4rem !important;
        right: 1.4rem !important;
      }
      margin: {
        left: 0.5rem !important;
        right: 0.5rem !important;
      }

      @media screen and (max-width: 640px) {
        flex-direction: column;

        .shared-counts-button {
          margin: 0 !important    {
            bottom: 0.8rem !important;
          }
        }
      }
    }
  }
}
