@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ThinItalic.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ThinItalic.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ThinItalic.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Italic.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Italic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Italic.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Italic.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Black.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Black.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Black.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Black.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraBold.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraBold.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraBold.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Thin.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Thin.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Thin.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Bold.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Bold.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Bold.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Medium.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Medium.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Medium.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-BoldItalic.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-BoldItalic.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-BoldItalic.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-LightItalic.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-LightItalic.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-MediumItalic.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-MediumItalic.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Regular.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Regular.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Regular.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-BlackItalic.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-BlackItalic.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-BlackItalic.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraLightItalic.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraLightItalic.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraLightItalic.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-SemiBoldItalic.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-SemiBoldItalic.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-SemiBoldItalic.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Light.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Light.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Light.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ThinItalic_1.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ThinItalic_1.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ThinItalic_1.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ThinItalic_1.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ThinItalic_1.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraLight.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraLight.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraLight.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraBoldItalic.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraBoldItalic.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraBoldItalic.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-SemiBold.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-SemiBold.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Thin_1.eot");
  src: url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Thin_1.eot?#iefix") format("embedded-opentype"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Thin_1.woff2") format("woff2"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Thin_1.woff") format("woff"),
    url("/wp-content/themes/madurasa/theme/static/assets/fonts/Raleway-Thin_1.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
