{% block html_head_container %}
	{% include 'html-header.twig' %}

	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">

<header class="m-header">
	{% block header %}
		<div class="m-header__top">
			<div class="m-header__content container">
				{% include "partial/socials-menu.twig" with {'items': social_menu.get_items, 'with_label': false}  %}
				<div data-lang-switcher>
					<lang-switcher/>
				</div>
			</div>
		</div>
		<div class="m-header__bottom">
			<div class="container mx-auto m-header__content">
				<div class="m-brand">
					{{ custom_logo }}
				</div>
				<div class="m-header__menu" id="menu">
					{% include "partial/header-menu.twig" with {'items': header_menu.get_items, 'class': 'm-header__menus'} %}
					<button type="button" class="m-header__btn-search hidden xl:block">
						<i class="fas fa-search"></i>
					</button>
				</div>
				<div class="block xl:hidden flex justify-center items-center">
					<button type="button" class="m-remove-outlines m-header__btn-search mx-2">
						<i class="fas fa-search"></i>
					</button>
					<button type="button" data-toggle='{"class":"active","el":"#menu"}' class="m-remove-outlines m-header__toggle mx-2">
						<i class="fas fa-bars"></i>
					</button>
				</div>
			</div>
		</div>
	{% endblock %}
</header>

<section id="content" role="main" class="content-wrapper">
	{% block content %}
		Sorry, no content
	{% endblock %}
</section>

{% block footer %}
	{% if cur_post_type.slug != 'products' %}
		{% include 'partial/products.twig' %}
	{% elseif is_single and post and post.post_type == 'products' %}
		{% include 'partial/products.twig' %}
	{% endif %}

	{% include 'partial/footer.twig' %}
	{{ function('wp_footer') }}
{% endblock %}</body></html>
