{% extends "base.twig" %}

{% block content %}
	<main class="m-article m-article-{{ post.post_type }}" id="article-{{ post.ID }}">
		<section class="bg-orange-100 py-12">
			<div class="container">
				<article class="prose prose-sm sm:prose lg:prose-lg mt-6">
					<h1 class="text-center">
						{{ post.title }}
					</h1>

					<div class="m-article__img-wrapper">
						<img class="max-w-full w-full" src="{{ Image(post.thumbnail).src }}"/>
					</div>

					<div class="m-article__details">
						{{ post.content }}
					</div>

					<hr class="mt-8 mb-6 border-gray-300"/>

					{% if shared_counts %}
						{{ shared_counts }}
					{% endif %}
				</article>
			</div>
		</section>
	</main>
{% endblock %}
