{% extends "base.twig" %}

{% block content %}
	<main class="m-contact" role="main">
		{% if post.meta('maps_shortcode') and post.meta('maps_shortcode') is not empty %}
			<div class="page-banner">
				{{ post.meta('maps_shortcode')|shortcodes }}
			</div>
		{% endif %}
        
		<section class="bg-orange-100 py-12">
			<div class="container">
				<div class="flex flex-wrap flex-col-reverse md:flex-row relative">
					<div class="bg-orange text-white z-10 w-full md:w-2/5 py-6 px-6 inset-0 my-auto md:absolute h-full max-h-contact-left mt-8 md:mt-auto">
						<h1 class="text-3xl leading-tight font-semibold">
							{{ post.title }}
						</h1>

						{% if post.meta('left_content') %}
							{% for item in post.meta('left_content') %}
								<div class="flex items-start mt-8">
									<i class="fas fa-lg mt-1 {{ item.icon }}"></i>
									<div class="ml-3">
										<p class="font-normal">
											{{ item.title }}
										</p>
										<div class="font-bold">
											{{ item.value }}
										</div>
									</div>
								</div>
							{% endfor %}
						{% endif %}

					</div>
					<div class="bg-white ml-auto w-full md:w-3/4 py-6 md:py-12 flex flex-wrap">
						<div class="w-full md:w-4/5 ml-auto px-4 md:px-12">
							<h1 class="text-3xl leading-tight font-semibold mb-6">
								{{ cur_lang == 'id' ? 'Kirim Pesan' : 'Send Us a Message'}}
							</h1>
							<div class="m-contact-form">
								{{ post.content }}
							</div>
						</div>
					</div>
				</div>

				<div class="m-contact__distribution mt-24">
					<h1 class="text-center">
						{{ post.meta('d_title')|parse_colorable }}
					</h1>
					<div class="lg:px-48 md:px-36">
						{{ post.meta('d_description') }}
					</div>
					{% if post.meta('columns') %}
						<div class="flex flex-wrap justify-center mt-8">
							{% for i, col in post.meta('columns') %}
								{% set colLength = post.meta('columns')|length %}
								{% set classBg = (i + 1) % 2 == 0 ? 'bg-orange-200 text-orange' : 'bg-orange text-white' %}
								<div class="w-full md:w-1/4 px-2">
									<div class="{{ classBg }} w-full text-center px-6 py-4">
										<h3 class="text-lg mb-0 font-semibold">{{ col.title }}</h3>
									</div>

									{% if col.markets %}
										<ul class="list-none mt-4 flex flex-col justify-center items-center">
											{% for market in col.markets %}
												<li>
													<a href="{{ market.market_link ?: '#' }}">
														<img src="{{ Image(market.market_image_logo).src }}" alt="{{ market.market_name ?: 'Market' }}"/>
													</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
