{% extends "base.twig" %}

{% block content %}
	<main class="m-our-story" role="main">
		<section class="bg-orange-100 pb-10">
			{% if banner %}
				<div class="page-banner" style="background-image: url('{{ banner.background }}')">
					<h1 class="text-white text-center">{{ banner.title ?: post.title }}</h1>
				</div>
			{% endif %}

			{% if terms %}
				<div class="container pt-16">
					<div class="flex flex-wrap justify-center w-full mb-10 flex-wrap">
						{% for term in terms %}
							{% set thumbBanner = (term|get_banner) %}
							<div class="w-full md:w-1/3 px-2">
								<a href="{{ term.link }}" class="col-thumbnail my-3 md:my-0" style="background-image: url('{{ thumbBanner.background }}')">
									<div class="px-8">
										<h2>
											{% if thumbBanner %}
												{{ thumbBanner.title }}
											{% else %}
												{{ term.title }}
											{% endif %}
										</h2>
										<span>
											Selengkapnya >
										</span>
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</section>
	</main>
{% endblock %}
