{% extends "base.twig" %}

{% block content %}
	<main class="m-home" role="main">
		<section class="m-home__banner" data-home-banner>
			<home-banner>
				{% for item in post.meta('slides') %}
					<div class="m-banner-image__wrapper">
						<img class="m-banner-image" data-lazy="{{ Image(item.image).src }}" alt=""/>
						<div class="m-banner-description__wrapper container">
							<div class="m-banner-description">
								<span>{{ item.description }}</span>
								{% if item.has_learn_more_button %}
									<a href="{{ item.learn_more_buttons_link }}" class="m-btn m-btn-primary mt-3">
										Cari Tahu
										<i class="fas fa-chevron-right fa-sm ml-1"></i>
									</a>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</home-banner>
		</section>

		{% if post.meta('steps') %}
			<section class="m-home__info">
				<div class="container">
					<div class="grid grid-cols-7">
						<div class="col-start-auto xl:col-start-4 col-span-7 lg:col-span-6 xl:col-span-4 ">
							<div>{{ post.meta('description') }}</div>
							<div class="flex flex-row flex-wrap m-arrowable">
								{% for item in post.meta('steps') %}
									<div class="w-full md:w-1/2 md:pr-12 xl:pr-16 my-4">
										<div class="flex flex-row items-center text-orange mb-3">
											<img class="h-13" src="{{ item.icon|get_oembed_url }}" alt="{{ item.title }}"/>
											<h2 class="ml-3 mb-0">{{ item.title }}</h2>
										</div>
										<p>
											{{ item.description }}
										</p>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>
		{% endif %}

		<section class="m-home__honey-ideas">
			<div class="container">
				<div class="flex flex-row items-center flex-wrap">
					<div class="w-full md:w-2/4 mr-4">
						<h1>
							{{ theme_config.honey_ideas_ttl_home ?: "Honey Ideas" }}
						</h1>
						<p class="mt-4 mb-10">
							{{ theme_config.honey_ideas_description ?: "Ada banyak resep penggunaan madu yang sehat untuk memuaskan selera Anda. Dapatkan rekomendasi resep kami di sini." }}
						</p>
						<a href="/honey-ideas" class="m-btn m-btn-primary m-btn-text">
							{{ theme_config.honey_ideas_button_label ?: "All recipes" }}
							<i class="fas fa-chevron-right ml-1"></i>
						</a>
					</div>
					{% if honey_ideas %}
						<div class="w-full md:w-2/5 mx-auto mt-8 md:mt-0" data-recipes-slider>
							<recipes-slider>
								{% for item in honey_ideas %}
									<div class="m-recipes-image__wrapper">
										<div class="m-recipes-slider__item">
											<div>
												<img class="w-full max-w-full" data-lazy="{{ Image(item.thumbnail).src }}" alt=""/>
											</div>
											<div class="text-center">
												<h1 class="text-2xl leading-tight font-semibold my-6">{{ item.title }}</h1>

												<a href="{{ item.link }}" class="m-btn m-btn-primary m-btn-outlined mx-auto">
													Lihat Resep
													<i class="fas fa-chevron-right fa-sm ml-1"></i>
												</a>
											</div>
										</div>
									</div>
								{% endfor %}
							</recipes-slider>
						</div>
					{% endif %}
				</div>
			</div>
		</section>
		<section class="m-home__articles">
			<div class="container">
				<h1 class="text-center mb-8">
					Honey and Wellness
				</h1>
				{% if honey_and_wellness %}
					<div class="article__wrapper">
						<div class="flex flex-wrap">
							{% for post in honey_and_wellness %}
								<article class="article w-full tablet:w-1/3 mb-6">
									<div class="article__item">
										<a href="{{ post.link }}">
											<div class="article__img">
												<img class="w-full max-w-full" src="{{ Image(post.thumbnail).src }}" alt="{{ post.title }}"/>
											</div>
										</a>
										<div class="article__desc">
											<h1 class="text-2xl">{{post.title}}</h1>

											<div class="hidden md:block">
												<p>{{ post.preview.length(25).read_more('') }}</p>
											</div>

											<a href="{{ post.link }}" class="article__link">
												{{ theme_config.learn_more_link_label ?: 'Selengkapnya' }}
												<i class="fas fa-chevron-right ml-1"></i>
											</a>
										</div>
									</div>
								</article>
							{% endfor %}
						</div>
					</div>
				{% endif %}
				<a href="/honey-and-wellness" class="m-btn m-btn-primary m-btn-text float-right">
					{{ theme_config.post_button_label ?: "All article" }}
					<i class="fas fa-chevron-right ml-1"></i>
				</a>
			</div>
		</section>
         
	</main>
	<!-- /content-wrapper -->
{% endblock %}
