{% extends "base.twig" %}

{% block content %}
	<main class="m-our-story" role="main">
		<section class="bg-orange-100 pb-10">
			{% if banner %}
				<div class="page-banner" style="background-image: url('{{ banner.background }}')">
					<h1 class="text-white text-center">{{ banner.title ?: post.title }}</h1>
				</div>
			{% endif %}

			<div class="container pt-10">
				{% if post.meta('columns') %}
					{% for col in post.meta('columns') %}
						<div class="{{ 'left' in col.image_position ? 'md:flex-row-reverse' : 'md:flex-row' }} flex flex-wrap flex-col-reverse w-full items-center">
							{% if col.descriptions %}
								<div class="w-full md:w-1/2 px-2 md:px-4 my-1 md:my-4">
									<div class="m-decription__wrapper">
										{{ col.descriptions }}
									</div>
								</div>
							{% endif %}

							<div class="{{ col.descriptions is empty ? '' : 'md:w-1/2' }} w-full px-2 md:px-4 my-1 md:my-4">
								<div class="m-img__wrapper">
									<img class="max-w-full w-full" src="{{ col.image.url }}" alt="{{ col.image.alt }}"/>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}
