.m-article {
  &__details {
    padding-left: 6rem;
    padding-right: 6rem;

    @media screen and (max-width: 640px) {
      padding-left: 0;
      padding-right: 0;
    }

    ul {
      list-style: none;
    }
  }

  .prose {
    max-width: none !important;
  }
}
