.m-home {
  &__info {
    background-color: #fef0db;
    position: relative;
    overflow: hidden;
    padding: {
      top: 10rem;
      bottom: 8rem;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url("/wp-content/themes/madurasa/theme/static/assets/images/bg-second-left.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left bottom;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: -4rem;
      right: 0;
      background-image: url("/wp-content/themes/madurasa/theme/static/assets/images/bg-second-right.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 100% 100%;
      background-blend-mode: multiply;
      background-color: #fef0db;
      z-index: 1;
    }

    > * {
      position: relative;
      z-index: 3;
    }

    @media (max-width: theme("screens.tablet")) {
      &::before {
        content: unset;
      }

      padding: {
        top: 8rem;
        bottom: 7rem;
      }
    }

    @media (max-width: theme("screens.mobile")) {
      &::after {
        content: unset;
      }

      padding: {
        top: 4rem;
        bottom: 4rem;
      }
    }
  }

  &__honey-ideas {
    background-image: url("/wp-content/themes/madurasa/theme/static/assets/images/bg-honey-ideas.png");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: {
      top: 8rem;
      bottom: 8rem;
    }

    @media screen and (max-width: 640px) {
      background-position: center left;
      padding: {
        top: 2rem;
        bottom: 2rem;
      }
    }
  }

  &__articles {
    padding: {
      top: 5rem;
      bottom: 5rem;
    }

    @media screen and (max-width: 640px) {
      padding: {
        top: 2rem;
        bottom: 4rem;
      }
    }
  }

  &__products {
    background-color: #f6f2ec;
    padding: {
      top: 5rem;
      bottom: 2rem;
    }

    @media screen and (max-width: 640px) {
      padding: {
        top: 2rem;
        bottom: 2rem;
      }
    }
  }
}
