<footer role="contentinfo" class="m-footer">
	{% if default_footer %}
		<div class="m-footer__marketplaces container">
			<div class="m-footer__marketplaces__wrapper">
				{% set default_mp_title = 'Dapatkan produk Madurasa dari marketplace pilihan Anda:' %}
				<h2 class="title">
					{{ theme_config.footer_marketplaces_title ?: default_mp_title }}
                </h2>
				<ul class="markets">
					{{ default_footer }}
				</ul>
			</div>
		</div>
	{% endif %}
	<div class="m-footer__top">
		<div class="container">
			<div class="m-footer__certs">
				<div class="m-footer__certs-explanation">
					{% set default_certs_desc = 'Madurasa dibuat oleh satu-satunya produsen madu yang memiliki sertifikasi TOP BRAND, Halal, ISO 9001:2015 dan ISO 22000:2005. Madurasa, jaminan madu kualitas terbaik untuk Anda dan Keluarga.' %}
					<p>
						{{ theme_config.footer_certificates_description ?: default_certs_desc }}
					</p>
				</div>
				<div class="m-footer__certs-logos">
					<div class="m-footer__cert"><img src="{{ theme.link }}/static/images/cert-halal.png" alt="Sertifikat Halal"></div>
					<div class="m-footer__cert"><img src="{{ theme.link }}/static/images/cert-iso-22000.png" alt="Sertifikat ISO 22000"></div>
					<div class="m-footer__cert"><img src="{{ theme.link }}/static/images/cert-iso-9001.png" alt="Sertifikat ISO 9001"></div>
					<div class="m-footer__cert"><img src="{{ theme.link }}/static/images/cert-top-brand.png" alt="Sertifikat Top Brand"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="m-footer__bottom">
		<div class="container">
			<div class="m-footer__info">
				<div class="m-footer__contact">
					<div class="m-brand">
						{{ custom_logo }}
					</div>
					{% if info_footer %}
						{{ info_footer }}
					{% endif %}
				</div>
				{% include "partial/socials-menu.twig" with {'items': social_menu.get_items, 'with_label': true}  %}
			</div>
			<hr/>
			<p class="m-footer__copyright py-3">
				Copyright &copy;
				{{"now"|date('Y')}}
				{{ site.name }}
				- All Rights Reserved.
			</p>
		</div>
	</div>
</footer>
