{% if header_menu %}
	<ul class="{{ class }}">
		{% for item in items %}
			<li class="link {{ item.classes | join(' ') }}">
				<a class="link__target" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% if item.children %}
					{% include "partial/header-menu.twig" with {'items': item.children, 'class': 'dropdown'} %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
