<main class="m-honey-faq" role="main">
	<section class="bg-orange-100 py-12">
		<div class="container">
			{# <h1 class="text-orange text-center">
				{{ cur_post_type.label }}
			</h1> #}

			<div class="flex flex-wrap flex-col-reverse md:flex-row">
				{% if terms %}
					<div class="w-full md:w-1/4">
						<ul class="flex flex-wrap list-none">
							{% for cat in terms %}
								<li class="w-full py-1 md:px-5 my-1">
									<a class="text-lg font-bold {{ cat.slug == current_tax.slug ? 'text-orange' : 'text-gray-900'}} block w-full" href="{{ cat.link }}">{{ cat.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}

				{% if posts %}
					<div class="w-full md:w-3/4 mb-6 md:mb-0">
						<h3 class="text-gray-900 block">
							{{ title }}
						</h3>

						<ul class="flex flex-wrap list-none border-0 border-t border-gray-900 border-solid pt-4 mt-4">
							{% for post in posts %}
								<li class="w-full bg-white py-3 px-5 my-1">
									<a class="no-underline text-gray-900 block w-full flex justify-between" href="{{ post.link }}">
										<span>
											{{ post.title }}
										</span>

										<i class="fa fa-chevron-right"></i>
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
</main>
