{% if posts.pagination.pages is not empty %}
    <nav class="w-full">
        <ul class="flex justify-center items-center list-none">

            {# First #}
            {# {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="first btn">
                    <a href="{{ posts.pagination.pages|first.link }}">First</a>
                </li>
            {% else %}
                <li class="first btn disabled">
                    <button disabled>First</button>
                </li>
            {% endif %} #}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="p-1">
                    <a class="m-btn m-btn-primary m-btn-outlined m-btn-pagination" href="{{ posts.pagination.prev.link }}">Previous</a>
                </li>
            {# {% else %}
                <li class="p-1">
                    <button disabled>Previous</button>
                </li> #}
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li class="p-1">
                        <a class="m-btn m-btn-primary m-btn-outlined m-btn-pagination" href="{{ page.link }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="p-1 current">
                        <span class="m-btn m-btn-primary m-btn-pagination" class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="p-1">
                    <a class="m-btn m-btn-primary m-btn-outlined m-btn-pagination" href="{{ posts.pagination.next.link }}">Next</a>
                </li>
            {# {% else %}
                <li class="p-1">
                    <button disabled>Next</button>
                </li> #}
            {% endif %}

            {# Last #}
            {# {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="last btn">
                    <a href="{{ posts.pagination.pages|last.link }}">Last</a>
                </li>
            {% else %}
                <li class="last btn disabled">
                    <button disabled>Last</button>
                </li>
            {% endif %} #}

        </ul>
    </nav>
{% endif %}
