<main class="m-products" role="main">
	<section class="bg-orange-100 pb-4">
		{% if banner %}
			<div class="page-banner" style="background-image: url('{{ banner.background }}')">
				<h1 class="text-white text-center">{{ banner.title ?: cur_post_type.label }}</h1>
			</div>
		{% endif %}

		<div class="container pt-6">
			{% if terms %}
				<ul class="product__categories list-none">
					{% for cat in terms %}
						<li class="border-0 border-solid border-b-2 {{ cat.slug == current_tax.slug ? 'active border-orange' : 'border-transparent'}}">
							<a class="no-underline font-medium item {{ cat.slug == current_tax.slug ? 'text-orange' : 'text-gray-900'}}" href="{{ cat.link }}">
								<div class="icon mb-1">
									<img width="35" height="35" class="object-contain" src="{{ cat.meta('icon').url }}"/>
								</div>
								<span class="block py-2">
									{{ cat.title }}
								</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}

			{% if posts %}
				<div class="flex flex-wrap mt-12">
					{% for product in posts %}
						<div class="product w-full tablet:w-1/3">
							<div class="product-img__wrapper">
								<div class="product__img">
									<img class="w-full max-w-full" src="{{ Image(product.thumbnail).src }}" alt="{{ product.title }}"/>
								</div>
							</div>
							<div class="product-desc__wrapper">
								<span class="product-label">
									{{ product.meta('mark_as') }}
								</span>

								<h2>{{ product.title }}</h2>

								{% if product.meta('available_packages') %}
									<p>{{ product.meta('available_packages')[0].variant }}</p>
								{% endif %}

								<a class="m-btn m-btn-primary" href="{{ product.link }}">
									Detail
									<i class="fas fa-chevron-right fa-sm ml-1"></i>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>

				{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
			{% endif %}
		</div>
	</section>
</main>
