<section class="m-home__products">
	<div class="container">
		<h1 class="text-center mb-8">
			{{ theme_config.products_archive_title ?: "Our Product" }}
		</h1>
		{% if products %}
			<div class="flex flex-wrap my-8">
				{% for product in products %}
					<div class="product w-full tablet:w-1/3">
						<div class="product-img__wrapper">
							<div class="product__img">
								<img class="w-full max-w-full" src="{{ Image(product.thumbnail).src }}" alt="{{ product.title }}"/>
							</div>
						</div>
						<div class="product-desc__wrapper">
							<span class="product-label">
								{{ product.meta('mark_as') }}
							</span>

							<h2>{{ product.title }}</h2>

							{% if product.meta('available_packages') %}
								<p>{{ product.meta('available_packages')[0].variant }}</p>
							{% endif %}

							<a class="m-btn m-btn-primary" href="{{ product.link }}">
								Detail
								<i class="fas fa-chevron-right fa-sm ml-1"></i>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<a href="/products" class="m-btn m-btn-primary m-btn-text float-right">
			{{ theme_config.products_button_label ?: "All products" }}
			<i class="fas fa-chevron-right ml-1"></i>
		</a>
	</div>
</section>
