{% if social_menu %}
	<ul class="m-footer__socmed">
		{% if with_label %}
			Ikuti kami di :
		{% endif %}

		{% for item in items %}
			<li>
				<a target="{{ item.target }}" href="{{ item.link }}">
					{% if item.classes %}
						<i class="{{ item.classes | join(' ') }}"></i>
					{% else %}
						{{ item.title }}
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
