<template>
  <slick ref="banner" class="m-banner-slider" :options="bannerOptions">
    <slot></slot>
  </slick>
</template>

<script>
export default {
  data: () => ({
    bannerOptions: {
      dots: true,
      infinite: true,
      fade: true,
      speed: 800,
      cssEase: 'linear',
      slidesToShow: 1,
      centerMode: true,
      lazyLoad: 'ondemand',
      autoplay: true,
      autoplaySpeed: 5000,
      dotsClass: 'm-banner-dots container'
    }
  })
}
</script>
