<template>
  <select v-model="lang" class="lang-selector ml-6" name="locale" id="locale">
    <option value="id">ID</option>
    <option value="en">EN</option>
  </select>
</template>

<script>
export default {
  data: () => ({
    lang: ''
  }),

  mounted() {
    this.lang = location.pathname.split('/')[1]
  },

  watch: {
    lang: {
      handler(lang, oldLang) {
        if (oldLang && lang !== oldLang) {
          location.href = location.origin.concat(location.pathname.replace(oldLang, lang))
        }
      }
    }
  }
}
</script>
