<template>
  <slick ref="recipes" class="m-recipes-slider" :options="recipesOptions">
    <slot></slot>
  </slick>
</template>

<script>
export default {
  data: () => ({
    recipesOptions: {
      dots: true,
      infinite: true,
      speed: 800,
      slidesToShow: 1,
      centerMode: true,
      lazyLoad: 'ondemand',
      centerPadding: '0px',
      autoplay: true,
      autoplaySpeed: 5000
    }
  })
}
</script>
